@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;300;400;500;700&display=swap');

body{
    font-family: 'Epilogue', sans-serif;
}

.fw-thin{   font-weight: 100;}
.fw-light{  font-weight: 300;}
.fw-normal{ font-weight: 400;}
.fw-medium{ font-weight: 500;}
    
